.main1 {
  /* margin: auto; */
  text-align: center;
  font-family: Arial, sans-serif;
  /* font-weight: lighter; */
}

.container1 {
  width: 120px;
  height: 120px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
}

.square1 {
  border: 1px gray solid;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 5px auto;
  background-color: white;
}

#reset1 {
  margin: 100px auto;
  display: block;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
}